{% extends 'blogs/base.html' %}

{% block page_header %}
  <h1>Notes</h1>
{% endblock page_header %}

{% block content %}
  <a role="button" class="btn btn-primary text-decoration-none mb-3"
    href="{% url 'blogs:new_note' %}">Add a new note</a>

  {% for note in notes %}
    <div class="card mb-3">
      <div class="card-header">
        <a class="text-decoration-none" href="{% url 'blogs:edit_note' note.id %}">
          {{ note }}</a> | {{ note.date_added|date:'M d, Y H:i' }}
      </div>
      <div class="card-body">
        {{ note.text }}
      </div>
    </div>
  {% empty %}
    <h3>No notes have been added yet.</h3>
  {% endfor %}

{% endblock content %}